[run]
branch = True
source = mne
omit =
    */setup.py
    */mne_kit_gui/conftest.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @abstractmethod
    @abstractclassmethod
