repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [--strict, -c, .yamllint.yml]
  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.51"
    hooks:
      - id: check-manifest
