name: 'Tests'
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  pytest:
    name: '${{ matrix.os }} / ${{ matrix.kind }} / ${{ matrix.python }}'
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    env:
      PYTHON_VERSION: '${{ matrix.python }}'
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            python: '3.13'
            kind: 'dev'
          - os: ubuntu-latest
            python: '3.10'
            kind: 'stable'
          - os: macos-latest
            python: '3.11'
            kind: 'stable'
          - os: windows-latest
            python: '3.12'
            kind: 'stable'
    steps:
      - uses: actions/checkout@v6
      - uses: pyvista/setup-headless-display-action@main
      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
      - run: python -m pip install --progress-bar off -e .[test] qtpy nibabel defusedxml "numpy<2.4"
      - run: python -m pip install --upgrade git+https://github.com/mne-tools/mne-python.git@main
        if: matrix.kind == 'dev'
      - run: mne sys_info -p
      - run: python -c "from mayavi import mlab; mlab.test_plot3d()"
      - run: python -c "import mne; mne.datasets.testing.data_path(verbose=True)"
      - run: pytest --tb=short --cov=mne_kit_gui --cov-report=xml --cov-report=html -vvv mne_kit_gui
      - uses: codecov/codecov-action@v5
        with:
          token: ebcd818a-7a71-470d-b667-7cd9c3003c7d
        if: success() || failure()
